@font-face {
  font-family: SFProDisplay;
  src: url('/fonts/SFPRODISPLAYREGULAR.OTF');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/fonts/SFPRODISPLAYMEDIUM.OTF');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('/fonts/SFPRODISPLAYBOLD.OTF');
  font-weight: 700;
  font-style: normal;
}

.detail-title {
  font: normal normal 700 26.75px/20px SFProDisplay;
  letter-spacing: -0.07px;
}
.detail-description {
  font: normal normal 400 12px/16px SFProDisplay;
  letter-spacing: -0.03px;
}
